
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/storage.ide-wal
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/storage.ide-shm
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/storage.ide
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/db.lock
TVShowWebsite/.vs/TVShowWebsite/v15/.suo
TVShowWebsite/.vs/TVShowWebsite/DesignTimeBuild/.dtbcache
TVShowWebsite/.vs/TVShowWebsite/v15/.suo
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/storage.ide
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/storage.ide-shm
TVShowWebsite/.vs/TVShowWebsite/v15/Server/sqlite3/storage.ide-wal
